#faq-header{
    text-align:center;
    font-family:'Titillium Web', sans-serif;
    margin-bottom:20px;
}
#faq-text{
    text-align:center;
    font-family:'Titillium Web', sans-serif;
    margin-bottom:50px;
}
.panel-group{
	padding-left:3.5em !important;
	padding-right:3.5em !important;
    margin-bottom:3em !important;
    text-align:center !important;
}
.panel {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
    font-family: 'Titillium Web', sans-serif !important;
    text-align:center !important;
}
.panel-body{
	padding-top:4em !important;
	padding-bottom:4em !important;
}

.panel:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}
.panel-heading{
    text-align:center !important;
}
.fas{
    font-size:20px !important;
}